<div>
	<h2>
	  <a href="/teams/<%= team.name %>"><%= team.name %></a>
	</h2>
	<p>
	  <%= team.members %>
	</p>
	<hr>
	<a href="/teams/<%= team.name %>/edit" class="btn btn-warning">Edit Team</a>
	<a href="/teams/<%= team.name %>" class="btn btn-danger" id="delete-btn">Delete Team</a>
	<br>
	<hr>
</div>
